.grid-item {
    width: 25%;
    /*overflow: hidden;*/
    /*margin-bottom: 10px;*/
    padding: 5px;
}

.grid-item.big{
    width: 50%;
}

.grid-item:hover {
    cursor: pointer;
    z-index: 1;
}

.grid-item:hover img {
    /*transform: scale(1.1);*/
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    max-width: initial;
    top: -10px;
    left: -10px;
}

img {
    position: relative;
    max-width: 100%;
    transition: .5s;
    user-select: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
